<!DOCTYPE html>
{% block all %}
<html lang="en">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% if title != "" %}{{ title }}{% endif %}
        </title>
        <style>
            {% include "../css/ext/bootstrap.min.css" %}
            {% include "../css/compass.css" %}
        </style>
        {% block css_files %}
        {% endblock %}
        <script>
            {% include "../js/ext/jquery.min.js" %}
            {% include "../js/ext/popper.min.js" %}
            {% include "../js/ext/bootstrap.min.js" %}
            {% include "../js/alerts.js" %}
        </script>
        {% block js_files %}
        {% endblock %}
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="email" viewBox="0 0 16 16">
                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
            </symbol>
            <symbol id="chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </symbol>
            <symbol id="chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </symbol>
            <symbol id="chevron-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </symbol>
            {% block head_svgs %}
            {% endblock %}
        </svg>
        {% block head_include %}
        {% endblock %}
    </head>
    <body class="d-flex flex-column">
        <div class="sticky-top">
            {% block alert_div %}
            <div class="container px-4 position-relative">
                <div id="alert_div" class="alert_div px-4"></div>
            </div>
            {% endblock %}
        </div>
        <div id="content-div" class="container my-5 px-4 {% block content_class %}{% endblock %}">
            {% if not hide_title %} 
                <h1 id="title_div">
                    {{ title }} 
                </h1>
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
        {% for msg in request.session.error_messages %}
            <script>add_alert('{{msg.0}}', '{{msg.1}}'); </script>
        {% endfor %}
    </body>
    <script>
        function refresh_tooltips(new_tooltips) {
            new_tooltips.map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
        }
        refresh_tooltips([...$('[data-bs-toggle="tooltip"]')]);
    </script>
</html>
{% endblock %}
