<div class="my-4 d-none" id='div-passphrase_setup'>
    <h5 class="modal-title">First time setup</h5>
    <form>
        <p>Enter a passphrase. The passphrase is needed to decrypt all stored passwords. This is the only passphrase you need to remember. It is stored nowhere, so if you forget it, you'll lose access to all passwords.</p>
        <div class="mb-3">
            {% include './forms/new_password.html' with component_id='passphrase_setup' input_password_label='New passphrase' check_valid='false' %}
        </div>
        <button type="submit" class="btn btn-dark col-12 position-relative">
            Submit
        </button>
    </form>
</div>

<script>
$('#div-passphrase_setup').find('form').on('submit', function(){ passphrase_setup_submit();return false; })

async function passphrase_setup_submit() {
    if(processing) return false;
    
    $('#div-passphrase_setup').addClass('d-none');
    
    // send encoded passphrase and get new pubkey1 from server, also include local pubkey
    // server will also setup totp and send it, encoded by local pubkey
    // let user confirm totp
    let passphrase_enc = await encrypt_server_key2($('#passphrase_setup').val());
    server_api("setup",{ 
            'step': 'generate_key1', 
            'new_passphrase':passphrase_enc, 
            local_secret: await encrypt_local_key('secret')
        }, async function( data ) {
            if (data.error != undefined) {
                add_alert(data.error, 'danger');
            } else if (data.key1_pub != null) {
                //window.sessionStorage.setItem('comonoid_passwords_server_pubkey1', data.key1_pub);
                compass_config[compass_config.current_user_id]['server_pubkey1'] = data.key1_pub;
                let qrcode = new QRCode("qrcode");
                qrcode.makeCode("otpauth://totp/{{user_info.email}}?secret="+await decrypt_local_key(data.totp_key)+"&issuer=compass");
                check_setup = true;
                passphrase_prepare(totp_setup_prepare);
            } else {
                add_alert('Internal server error.', 'danger');
            }
        });
    return false;
}
</script>
