<div class="modal fade" id="modal-passphrase" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Enter passphrase</h5>
        <div id="load_spinner_passphrase" class="spinner-border spinner-after-text" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
      </div>
      <form>
        <div class="modal-body">
            {% include '../forms/password.html' with component_id='passphrase' input_password_label='Passphrase' %}
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-dark col-12 position-relative">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
$('#modal-passphrase').find('form').on('submit', function(){ passphrase_submit();return false; })

after_passphrase = null;
function passphrase_prepare(after){
    after_passphrase=after;
    $('#modal-passphrase').modal('show');
}
processing = false;
async function passphrase_submit() {
    
    // send encoded passphrase and get new pubkey1 from server, also include local pubkey
    // server will also setup totp and send it, encoded by local pubkey
    // let user confirm totp
    //if (passphrase_enc == null) {
    let passphrase_enc = await encrypt_server_key2($('#passphrase').val());
    add_passphrase_enc_session(passphrase_enc);
    $('#modal-passphrase').modal('hide');
    get_pkeys();
}

</script>

