<div class="modal fade" id="modal-show_credentials" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Your credentials</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
          <div id='show_credentials_username_div' class="input-group mb-3 clipboard">
              <div class="form-floating">
                  <input class="form-control" id="input_credentials_username" name="input_credentials_username" type='text' readonly></input>
                  <label for='input_credentials_username'>Username</label>
              </div>
              <button class="btn btn-dark success-hide" title="Copy to clipboard" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Copy to clipboard">
                  <svg class="bi clipboard" width='1.8rem' height='1.8rem'><use xlink:href="#bi-clipboard"/></svg>
              </button><button class="btn btn-success success-show" title="Copied!" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Copied!">
                  <svg class="bi clipboard-check" width='1.8rem' height='1.8rem'><use xlink:href="#bi-clipboard-check"/></svg>
              </button>
          </div>
          {% include '../forms/password.html' with component_id='input_credentials_password' clipboard=True readonly=True input_password_label='Password' %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
document.getElementById('modal-show_credentials').addEventListener('hidden.bs.modal', event => {
  $('#modal-show_credentials').find('input').val('');
});
$("#show_credentials_username_div").find('.success-hide').on('click', copy_to_clipboard);
$("#show_credentials_username_div").find('.success-show').on('click', copy_to_clipboard);
</script>
