{% extends '../base_component.html' %}

{% block css %}
<style>
.pin-code{ 
  padding: 0; 
  margin: 0 auto; 
  display: flex;
  justify-content:center;
} 
 
.pin-code input { 
  text-align: center; 
  width: 48px;
  height:48px;
  font-size: 36px; 
  background-color: #F3F3F3;
  margin-right:5px;
} 

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
{% endblock %}

{% block svg_shortcuts %}

{% endblock %}

{% block script_global %}
<script>
function get_pincode(pin_id) {
    let pinContainer = $("#"+pin_id+"_pin_container");
    next = pinContainer.find("input");
    let code = "";
    while (next.val()) {
        code += next.val();
        next = next.next();
    }
    return code;
}

let evt=1;
function pincode_keydown(event) {
    if (event.key != "ArrowLeft" && event.key != "ArrowRight") {
        event.target.value = "";
    }
    //event.preventDefault();
}
function pincode_keyup(event) {
    let val = String(event.target.value).toUpperCase();
    //evt=event
    if (event.key == "ArrowLeft" || (event.key == "Backspace" && val.length === 0)) {
        if (val.length === 0) {
            event.target.value = "";
            $('#'+event.data.pin_id).val(get_pincode(event.data.pin_id))
        }
        let next = event.target;
        while (true) {
            next = next.previousElementSibling
            if (next == null) break;
            if (next.tagName.toLowerCase() == "input") {
                next.focus();
                break;
            }
        }
    } else if (event.key == "ArrowRight") {
        let next = event.target;
        while (true) {
            next = next.nextElementSibling
            if (next == null) break;
            if (next.tagName.toLowerCase() == "input") {
                next.focus();
                break;
            }
        }
    }
}
function pincode_input(event) {
    evt=event;
    let val = String(event.target.value).toUpperCase();
    if (val.length === 0) {
        event.target.value = "";
    }
    let next = event.target;
    while(val.length > 0) {
        if (next.tagName.toLowerCase() == "input") {
            next.value = val[0];
            val = val.slice(1);
        }
        next = next.nextElementSibling;
        if (next == null) break;
    }
    if (next == null) {
        let target_btn = $('.'+event.data.pin_id+'_target');
        target_btn.focus()                     
        
    } else if (next.tagName.toLowerCase() == "input") {
        next.focus();
    }

    $('#'+event.data.pin_id).val(get_pincode(event.data.pin_id))
}
</script>
{% endblock %}

{% block html %}
<div id="{{component_id}}_div" class="text-center mb-3">
    {% if pincode_label != '' %}<label class="form-label">{{pincode_label|default:translations.onetimepassword}}</label>{% endif %}
    <div id="{{component_id}}_pin_container" class="pin-code">
        <input class="form-control" type="{{pintype|default:"number"}}">
        <input class="form-control" type="{{pintype|default:"number"}}">
        <input class="form-control" type="{{pintype|default:"number"}}">
        <input class="form-control" type="{{pintype|default:"number"}}">
        <input class="form-control" type="{{pintype|default:"number"}}">
        <input class="form-control" type="{{pintype|default:"number"}}">
    </div>
    <input id="{{component_id}}" name="{{component_id}}" class="form-control d-none pin-code-notepad" type="{{pintype|default:"number"}}" maxlength="6">
</div>
{% endblock %}

{% block script_local %}
<script>
$("#{{component_id}}_pin_container").on('keydown', {pin_id: "{{component_id}}" }, pincode_keydown);
$("#{{component_id}}_pin_container").on('input', {pin_id: "{{component_id}}" }, pincode_input);
$("#{{component_id}}_pin_container").on('keyup', {pin_id: "{{component_id}}" }, pincode_keyup);
</script>
{% endblock %}
